# Imports

In [1]:
import numpy as np
import pandas as pd
#import matplotlib.pyplot as plt
#import seaborn as sns
from functions import load_and_clean_all_data, quality_of_movies_by_country

# Data loading

In [3]:
# Define the data directory and output directory
data_dir = 'data_imdb'
output_dir = 'cleaned_data'

# Load and clean the data
data = load_and_clean_all_data(data_dir)

# Display a sample of the datasets
for key, df in data.items():
    print(f"Sample data from {key}:")
    display(df.head())

Loading data_imdb\title.basics.tsv...
Loading data_imdb\title.akas.tsv...
Loading data_imdb\title.crew.tsv...
Loading data_imdb\title.ratings.tsv...
Loading data_imdb\name.basics.tsv...
Sample data from basics:

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,<NA>,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,<NA>,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,<NA>,5,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,<NA>,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,<NA>,1,"Comedy,Short"

Sample data from akas:

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Carmencita,<NA>,<NA>,original,<NA>,1
1,tt0000001,2,Carmencita,DE,<NA>,<NA>,literal title,0
2,tt0000001,3,Carmencita,US,<NA>,imdbDisplay,<NA>,0
3,tt0000001,4,Carmencita - spanyol tánc,HU,<NA>,imdbDisplay,<NA>,0
4,tt0000001,5,Καρμενσίτα,GR,<NA>,imdbDisplay,<NA>,0

Sample data from crew:

      tconst  directors writers
0  tt0000001  nm0005690    <NA>
1  tt0000002  nm0721526    <NA>
2  tt0000003  nm0721526    <NA>
3  tt0000004  nm0721526    <NA>
4  tt0000005  nm0005690    <NA>

Sample data from ratings:

      tconst  averageRating  numVotes
0  tt0000001            5.7      2058
1  tt0000002            5.7       276
2  tt0000003            6.5      2022
3  tt0000004            5.4       179
4  tt0000005            6.2      2787

Sample data from names:

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"actor,miscellaneous,producer","tt0072308,tt0050419,tt0053137,tt0027125"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack,archive_footage","tt0037382,tt0075213,tt0117057,tt0038355"
2,nm0000003,Brigitte Bardot,1934,<NA>,"actress,music_department,producer","tt0057345,tt0049189,tt0056404,tt0054452"
3,nm0000004,John Belushi,1949,1982,"actor,writer,music_department","tt0072562,tt0077975,tt0080455,tt0078723"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050986,tt0083922,tt0050976,tt0069467"

In [4]:
top_n = 200

country_quality = quality_of_movies_by_country(data, top_n)
country_quality.head(10)

   region  avg_rating  total_votes  composite_score
32     US        10.0          401            127.3
18     IN        10.0           82             31.6
13     GB        10.0           70             28.0
4      BR        10.0           63             25.9
27     TH        10.0           58             24.4
30     UA        10.0           46             20.8
25     RU        10.0           46             20.8
11     ES        10.0           45             20.5
33    XWW        10.0           37             18.1
12     FR        10.0           35             17.5