# Imports

In [1]:
import pandas as pd
import os
from functions.utilities import load_data, clean_data, filter_by_common_years, filter_by_user_year_range

from functions.task1_functions import quality_of_movies_by_country, prepare_data

from functions.task2_functions import total_votes_by_country, average_composite_score_by_country, weighted_average_composite_score_by_country, filter_countries_with_reference, get_countries_and_clean_orders, calculate_gdp_per_population, rename_and_add_rank, compute_hegemony

from functions.task3_functions import prepare_movies_directors, rank_directors, custom_ranking, rank_director_actors

# Loading and preparing the data

#### Data for TASK 1

In [2]:
data_dir = os.getenv('MOVIE_DATA_PATH')
if data_dir is None:
    data_dir = 'data_imdb'

basics = clean_data(load_data(os.path.join(data_dir, 'title.basics.tsv')))
akas = clean_data(load_data(os.path.join(data_dir, 'title.akas.tsv')))
ratings = clean_data(load_data(os.path.join(data_dir, 'title.ratings.tsv')))

Loading data from: C:\Users\konra\PycharmProjects\Imdb_Film_Ranking\data_imdb\title.basics.tsv ...

Loading data from: C:\Users\konra\PycharmProjects\Imdb_Film_Ranking\data_imdb\title.akas.tsv ...

Loading data from: C:\Users\konra\PycharmProjects\Imdb_Film_Ranking\data_imdb\title.ratings.tsv ...

### Data for TASK 2

In [3]:
# GDP and Population data from Worldbank
# Source: https://data.worldbank.org/indicator/NY.GDP.MKTP.CD?end=2023&name_desc=false&skipRedirection=true&start=1960&view=chart

data_dir = os.getenv('GDP_POP_DATA_PATH')
if data_dir is None:
    data_dir = 'data_gdp_population'

gdp_df = clean_data(load_data(os.path.join(data_dir, 'API_NY.GDP.MKTP.CD_DS2_en_csv_v2_580250.csv'), header=2))
pop_df = clean_data(load_data(os.path.join(data_dir, 'API_SP.POP.TOTL_DS2_en_csv_v2_580248.csv'), header=2))

# Introducing dataset with codenames for countries 
# Source: https://github.com/lukes/ISO-3166-Countries-with-Regional-Codes/blob/master/all/all.csv
country_codes_df = pd.read_csv(data_dir + '/country_codes_all.csv')

Loading data from: C:\Users\konra\PycharmProjects\Imdb_Film_Ranking\data_gdp_population\API_NY.GDP.MKTP.CD_DS2_en_csv_v2_580250.csv ...
Loading data from: C:\Users\konra\PycharmProjects\Imdb_Film_Ranking\data_gdp_population\API_SP.POP.TOTL_DS2_en_csv_v2_580248.csv ...

### Data for TASK 3

In [4]:
data_dir = os.getenv('MOVIE_DATA_PATH')
if data_dir is None:
    data_dir = 'data_imdb'

crew = clean_data(load_data(os.path.join(data_dir, 'title.crew.tsv')))
names = clean_data(load_data(os.path.join(data_dir, 'name.basics.tsv')))

Loading data from: data_imdb\title.crew.tsv ...

Loading data from: data_imdb\name.basics.tsv ...

In [5]:
basics, gdp_df = filter_by_common_years(basics, gdp_df)

start_year = os.getenv('START_YEAR')
end_year = os.getenv('END_YEAR')

# Convert start_year and end_year to integers if they exist
if start_year is not None:
    start_year = int(start_year)
if end_year is not None:
    end_year = int(end_year)
    
basics, gdp_df = filter_by_user_year_range(basics, gdp_df, start_year, end_year)

In [6]:
print("Sample data from basics:")
basics.head()

Sample data from basics:

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
919,tt0000929,short,Klebolin klebt alles,Klebolin klebt alles,0,1990.0,<NA>,<NA>,"Comedy,Short"
965,tt0000977,short,Mutterliebe,Mutterliebe,0,1990.0,<NA>,<NA>,Short
11634,tt0011801,movie,Tötet nicht mehr,Tötet nicht mehr,0,2019.0,<NA>,<NA>,"Action,Crime"
13079,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021.0,<NA>,94,Documentary
15174,tt0015414,movie,La tierra de los toros,La tierra de los toros,0,2000.0,<NA>,60,<NA>

In [7]:
print("Sample data from akas:")
akas.head()

Sample data from akas:

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Carmencita,<NA>,<NA>,original,<NA>,1
1,tt0000001,2,Carmencita,DE,<NA>,<NA>,literal title,0
2,tt0000001,3,Carmencita,US,<NA>,imdbDisplay,<NA>,0
3,tt0000001,4,Carmencita - spanyol tánc,HU,<NA>,imdbDisplay,<NA>,0
4,tt0000001,5,Καρμενσίτα,GR,<NA>,imdbDisplay,<NA>,0

In [8]:
print("Sample data from ratings:")
ratings.head()

Sample data from ratings:

      tconst  averageRating  numVotes
0  tt0000001            5.7      2058
1  tt0000002            5.7       276
2  tt0000003            6.5      2022
3  tt0000004            5.4       179
4  tt0000005            6.2      2787

# Task 1 - Quality of movies by country

In [9]:
top_orders = [10, 20, 50, 100]

# Prepare the data, merge needed datasets and filter of only movies
prepared_df = prepare_data(basics, ratings, akas)
prepared_df.head()

# Analyze the quality of movies by country
country_counts, movies_df = quality_of_movies_by_country(prepared_df, top_orders)

# Display country appearances in top N sequences
country_counts

There are 5650 movies without an assigned country.

{10: {'GB': 2,
  'IS': 1,
  'ID': 1,
  'FI': 1,
  'DK': 1,
  'EE': 1,
  'AE': 1,
  'HK': 1,
  'NZ': 1},
 20: {'IN': 4,
  'GB': 3,
  'AE': 2,
  'ID': 2,
  'NZ': 2,
  'IS': 1,
  'FI': 1,
  'DK': 1,
  'HK': 1,
  'EE': 1,
  'EG': 1,
  'PH': 1},
 50: {'IN': 12,
  'GB': 5,
  'AE': 4,
  'NL': 4,
  'IL': 2,
  'IT': 2,
  'ID': 2,
  'EE': 2,
  'EG': 2,
  'NZ': 2,
  'PH': 2,
  'DK': 2,
  'ES': 2,
  'IS': 1,
  'FI': 1,
  'HK': 1,
  'CM': 1,
  'CZ': 1,
  'EC': 1,
  'FR': 1},
 100: {'IN': 24,
  'ID': 7,
  'AE': 7,
  'NL': 7,
  'GB': 6,
  'EG': 5,
  'IL': 4,
  'PH': 4,
  'IE': 4,
  'FR': 4,
  'DK': 3,
  'HK': 3,
  'ES': 3,
  'IT': 2,
  'NZ': 2,
  'EE': 2,
  'EC': 2,
  'FI': 1,
  'IS': 1,
  'CZ': 1,
  'CM': 1,
  'CO': 1,
  'KR': 1,
  'GR': 1,
  'AU': 1,
  'JP': 1,
  'SG': 1,
  'DE': 1}}

In [10]:
# Master movie dataframe for further analyses
print(movies_df.shape)
movies_df.head(20)

(473429, 22)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,...,ordering,title,region,language,types,attributes,isOriginalTitle,titleId_y,country,composite_score
489982,tt0111161,movie,The Shawshank Redemption,The Shawshank Redemption,0,1994.0,<NA>,142,Drama,9.3,...,1.0,The Shawshank Redemption,<NA>,<NA>,original,<NA>,1.0,tt0111161,IS,871760.31
1020895,tt0468569,movie,The Dark Knight,The Dark Knight,0,2008.0,<NA>,152,"Action,Crime,Drama",9.0,...,1.0,The Dark Knight,<NA>,<NA>,original,<NA>,1.0,tt0468569,ID,866137.50
1397692,tt1375666,movie,Inception,Inception,0,2010.0,<NA>,148,"Action,Adventure,Sci-Fi",8.8,...,1.0,Inception,<NA>,<NA>,original,<NA>,1.0,tt1375666,GB,769596.16
589770,tt0137523,movie,Fight Club,Fight Club,0,1999.0,<NA>,139,Drama,8.8,...,1.0,Fight Club,<NA>,<NA>,original,<NA>,1.0,tt0137523,FI,701755.36
480389,tt0109830,movie,Forrest Gump,Forrest Gump,0,1994.0,<NA>,142,"Drama,Romance",8.8,...,1.0,Forrest Gump,<NA>,<NA>,original,<NA>,1.0,tt0109830,DK,681472.06
488060,tt0110912,movie,Pulp Fiction,Pulp Fiction,0,1994.0,<NA>,154,"Crime,Drama",8.9,...,1.0,Pulp Fiction,<NA>,<NA>,original,<NA>,1.0,tt0110912,EE,670144.43
1067954,tt0816692,movie,Interstellar,Interstellar,0,2014.0,<NA>,169,"Adventure,Drama,Sci-Fi",8.7,...,1.0,Interstellar,<NA>,<NA>,original,<NA>,1.0,tt0816692,GB,635870.19
582780,tt0133093,movie,The Matrix,The Matrix,0,1999.0,<NA>,136,"Action,Sci-Fi",8.7,...,1.0,The Matrix,<NA>,<NA>,original,<NA>,1.0,tt0133093,AE,619520.79
152918,tt0068646,movie,The Godfather,The Godfather,0,1972.0,<NA>,175,"Crime,Drama",9.2,...,1.0,The Godfather,<NA>,<NA>,original,<NA>,1.0,tt0068646,HK,607480.04
555043,tt0120737,movie,The Lord of the Rings: The Fellowship of the Ring,The Lord of the Rings: The Fellowship of the Ring,0,2001.0,<NA>,178,"Action,Adventure,Drama",8.9,...,1.0,The Lord of the Rings: The Fellowship of the Ring,<NA>,<NA>,original,<NA>,1.0,tt0120737,NZ,605482.43
636741,tt0167260,movie,The Lord of the Rings: The Return of the King,The Lord of the Rings: The Return of the King,0,2003.0,<NA>,201,"Action,Adventure,Drama",9.0,...,1.0,The Lord of the Rings: The Return of the King,<NA>,<NA>,original,<NA>,1.0,tt0167260,IN,596937.30
1377487,tt1345836,movie,The Dark Knight Rises,The Dark Knight Rises,0,2012.0,<NA>,164,"Action,Drama,Thriller",8.4,...,1.0,The Dark Knight Rises,<NA>,<NA>,original,<NA>,1.0,tt1345836,ID,551104.68
509229,tt0114369,movie,Se7en,Se7en,0,1995.0,<NA>,127,"Crime,Drama,Mystery",8.6,...,1.0,Se7en,<NA>,<NA>,original,<NA>,1.0,tt0114369,AE,543068.42
636813,tt0167261,movie,The Lord of the Rings: The Two Towers,The Lord of the Rings: The Two Towers,0,2002.0,<NA>,179,"Action,Adventure,Drama",8.8,...,1.0,The Lord of the Rings: The Two Towers,<NA>,<NA>,original,<NA>,1.0,tt0167261,NZ,538139.86
1653447,tt1853728,movie,Django Unchained,Django Unchained,0,2012.0,<NA>,165,"Comedy,Drama,Western",8.5,...,1.0,Django Unchained,<NA>,<NA>,original,<NA>,1.0,tt1853728,IN,511853.65
644546,tt0172495,movie,Gladiator,Gladiator,0,2000.0,<NA>,155,"Action,Adventure,Drama",8.5,...,1.0,Gladiator,<NA>,<NA>,original,<NA>,1.0,tt0172495,EG,489051.85
906016,tt0361748,movie,Inglourious Basterds,Inglourious Basterds,0,2009.0,<NA>,153,"Adventure,Drama,War",8.4,...,1.0,Inglourious Basterds,<NA>,<NA>,original,<NA>,1.0,tt0361748,IN,478506.18
1106135,tt0993846,movie,The Wolf of Wall Street,The Wolf of Wall Street,0,2013.0,<NA>,180,"Biography,Comedy,Crime",8.2,...,1.0,The Wolf of Wall Street,<NA>,<NA>,original,<NA>,1.0,tt0993846,IN,478496.14
920989,tt0372784,movie,Batman Begins,Batman Begins,0,2005.0,<NA>,140,"Action,Crime,Drama",8.2,...,1.0,Batman Begins,<NA>,<NA>,original,<NA>,1.0,tt0372784,GB,475999.54
435419,tt0102926,movie,The Silence of the Lambs,The Silence of the Lambs,0,1991.0,<NA>,118,"Crime,Drama,Thriller",8.6,...,1.0,The Silence of the Lambs,<NA>,<NA>,original,<NA>,1.0,tt0102926,PH,467211.02

# Task 2 - "Cinematic Impact" Hegemony

In [11]:
# weak cinematic impact
votes_df = total_votes_by_country(movies_df)

# strong cinematic impact
avg_score_df = average_composite_score_by_country(movies_df)

# strong cinematic impact weighted
avg_wgt_score_df = weighted_average_composite_score_by_country(movies_df)

In [12]:
# Creating orders of countries according to number of votes and scores for each country
votes_df, excluded_countries = get_countries_and_clean_orders(
    votes_df, country_codes_df, 'country', 'alpha-2', ['name', 'number of votes'])

avg_score_df, _ = get_countries_and_clean_orders(
    avg_score_df, country_codes_df, 'country', 'alpha-2',['name', 'average composite score'])

avg_wgt_score_df, _ = get_countries_and_clean_orders(
    avg_wgt_score_df, country_codes_df, 'country', 'alpha-2', ['name', 'weighted average composite score'])

print(f"Country codes excluded from further analysis:\n{excluded_countries}")

Country codes excluded from further analysis:
['XWW', 'XWG', 'CSHH', 'XYU', 'DDDE', 'XEU', 'SUHH', 'YUCS', 'CSXX', 'XAS', 'XKV', 'AN', 'BUMM', 'VDVN', 'XKO', 'ZRCD']

In [13]:
votes_df

                                                  name  number of votes
0                                                India      202617537.0
1                                            Australia       82645411.0
2    United Kingdom of Great Britain and Northern I...       82238946.0
3                                            Indonesia       57949944.0
4                          Netherlands, Kingdom of the       47069448.0
..                                                 ...              ...
221                                     Cayman Islands              0.0
222                                         Montserrat              0.0
223                                            Réunion              0.0
224                   Saint Vincent and the Grenadines              0.0
225                                            Vanuatu              0.0

[210 rows x 2 columns]

In [14]:
avg_score_df

                                 name  average composite score
0                            Cameroon             13940.579286
1                             Ireland             13253.603111
2                              Israel              9044.869101
3                           Indonesia              7576.234935
4                         New Zealand              7107.316941
..                                ...                      ...
221                    Cayman Islands                      NaN
222                        Montserrat                      NaN
223                           Réunion                      NaN
224  Saint Vincent and the Grenadines                      NaN
225                           Vanuatu                      NaN

[210 rows x 2 columns]

In [15]:
# Filtering and ordering Countries and their GDPs
gdp_df = filter_countries_with_reference(gdp_df, 'Country Code', country_codes_df, 'alpha-3', year='2023')
gdp_df

               Country Name          2023
251           United States  2.736094e+13
40                    China  1.779478e+13
55                  Germany  4.456081e+12
119                   Japan  4.212945e+12
109                   India  3.549919e+12
..                      ...           ...
239                   Tonga           NaN
254           Venezuela, RB           NaN
255  British Virgin Islands           NaN
256   Virgin Islands (U.S.)           NaN
262             Yemen, Rep.           NaN

[215 rows x 2 columns]

In [16]:
# Filtering and ordering Countries and their Populations
pop_df = filter_countries_with_reference(pop_df, 'Country Code', country_codes_df, 'alpha-3', year='2023')
pop_df.head(10)

           Country Name          2023
109               India  1.428628e+09
40                China  1.410710e+09
251       United States  3.349149e+08
106           Indonesia  2.775341e+08
184            Pakistan  2.404857e+08
174             Nigeria  2.238046e+08
29               Brazil  2.164224e+08
20           Bangladesh  1.729543e+08
202  Russian Federation  1.438261e+08
154              Mexico  1.284556e+08

In [17]:
# Calculating and ordering Countries and their GDP/Population coefficient
gdp_pop_df = calculate_gdp_per_population(gdp_df, pop_df, '2023')
gdp_pop_df.head(10)

                index  gdp_per_population
70         Luxembourg       128259.402583
24            Ireland       103684.880802
19        Switzerland        99994.938020
30             Norway        87961.780614
29          Singapore        84734.255921
0       United States        81695.187071
103           Iceland        78811.058392
34            Denmark        67967.381869
92   Macao SAR, China        66835.064334
12          Australia        64711.765603

In [18]:
# Renaming given columns for better cohesion and creating rankings for each relevant variable
votes_df = rename_and_add_rank(votes_df, ['country', 'number of votes'])
avg_score_df = rename_and_add_rank(avg_score_df, ['country', 'average score'])
avg_wgt_score_df = rename_and_add_rank(avg_wgt_score_df, ['country', 'weighted average score'])

gdp_df = rename_and_add_rank(gdp_df, ['country', 'gdp'])
pop_df = rename_and_add_rank(pop_df, ['country', 'population'])
gdp_pop_df = rename_and_add_rank(gdp_pop_df, ['country', 'gdp/population'])

In [19]:
# Calculating Hegemony Scores in various combinations
gdp_score_hegemony = compute_hegemony(gdp_df, avg_score_df, 'gdp', 'avg_score')
pop_votes_hegemony = compute_hegemony(pop_df, votes_df, 'pop', 'votes')
gdp_pop_wgt_score_hegemony = compute_hegemony(gdp_pop_df, avg_wgt_score_df, 'gdp_pop', 'wgt_score')

Gdp / Avg_score Hegemony Rankings:
1. Thailand (Hegemony Score: 0)
2. Albania (Hegemony Score: 0)
3. Slovenia (Hegemony Score: 1)
4. Sweden (Hegemony Score: 1)
5. Mali (Hegemony Score: 1)
6. Marshall Islands (Hegemony Score: 1)
7. Mongolia (Hegemony Score: 2)
8. Myanmar (Hegemony Score: 2)
9. Grenada (Hegemony Score: 3)
10. Bermuda (Hegemony Score: 3)
11. Sao Tome and Principe (Hegemony Score: 4)
12. Eritrea (Hegemony Score: 4)
13. Portugal (Hegemony Score: 4)
14. Azerbaijan (Hegemony Score: 5)
15. Antigua and Barbuda (Hegemony Score: 5)
16. Nepal (Hegemony Score: 5)
17. Cyprus (Hegemony Score: 6)
18. Norway (Hegemony Score: 6)
19. Belize (Hegemony Score: 7)
20. American Samoa (Hegemony Score: 7)
21. Belarus (Hegemony Score: 7)
22. Nicaragua (Hegemony Score: 8)
23. Romania (Hegemony Score: 10)
24. Guam (Hegemony Score: 10)
25. Armenia (Hegemony Score: 10)
26. Mauritania (Hegemony Score: 10)
27. Cabo Verde (Hegemony Score: 11)
28. Bulgaria (Hegemony Score: 11)
29. Indonesia (Hegemony Score: 12)
30. Burkina Faso (Hegemony Score: 12)
31. Denmark (Hegemony Score: 12)
32. Brunei Darussalam (Hegemony Score: 13)
33. Cambodia (Hegemony Score: 13)
34. Cayman Islands (Hegemony Score: 13)
35. Hungary (Hegemony Score: 14)
36. Tunisia (Hegemony Score: 14)
37. Spain (Hegemony Score: 14)
38. India (Hegemony Score: 15)
39. Philippines (Hegemony Score: 15)
40. Austria (Hegemony Score: 16)
41. Niger (Hegemony Score: 16)
42. Lithuania (Hegemony Score: 17)
43. Latvia (Hegemony Score: 17)
44. Serbia (Hegemony Score: 17)
45. Malta (Hegemony Score: 17)
46. Aruba (Hegemony Score: 18)
47. Australia (Hegemony Score: 18)
48. South Africa (Hegemony Score: 19)
49. Chile (Hegemony Score: 19)
50. Lesotho (Hegemony Score: 19)
51. Sierra Leone (Hegemony Score: 20)
52. Ukraine (Hegemony Score: 20)
53. Honduras (Hegemony Score: 20)
54. Uzbekistan (Hegemony Score: 20)
55. United Arab Emirates (Hegemony Score: 20)
56. Jordan (Hegemony Score: 21)
57. Virgin Islands (U.S.) (Hegemony Score: 22)
58. New Caledonia (Hegemony Score: 22)
59. Paraguay (Hegemony Score: 22)
60. Czechia (Hegemony Score: 22)
61. France (Hegemony Score: 23)
62. Ireland (Hegemony Score: 23)
63. Singapore (Hegemony Score: 23)
64. Guinea (Hegemony Score: 23)
65. Malaysia (Hegemony Score: 23)
66. Argentina (Hegemony Score: 24)
67. Haiti (Hegemony Score: 24)
68. Peru (Hegemony Score: 24)
69. Maldives (Hegemony Score: 24)
70. Comoros (Hegemony Score: 24)
71. Belgium (Hegemony Score: 25)
72. Somalia (Hegemony Score: 25)
73. Israel (Hegemony Score: 25)
74. Georgia (Hegemony Score: 25)
75. Rwanda (Hegemony Score: 26)
76. Colombia (Hegemony Score: 26)
77. Solomon Islands (Hegemony Score: 26)
78. Liberia (Hegemony Score: 26)
79. Barbados (Hegemony Score: 27)
80. Malawi (Hegemony Score: 27)
81. Angola (Hegemony Score: 27)
82. Iraq (Hegemony Score: 27)
83. Bangladesh (Hegemony Score: 27)
84. Italy (Hegemony Score: 27)
85. Canada (Hegemony Score: 28)
86. Poland (Hegemony Score: 28)
87. Guatemala (Hegemony Score: 28)
88. Burundi (Hegemony Score: 28)
89. Viet Nam (Hegemony Score: 31)
90. Kenya (Hegemony Score: 31)
91. Finland (Hegemony Score: 31)
92. Switzerland (Hegemony Score: 31)
93. Togo (Hegemony Score: 32)
94. Mozambique (Hegemony Score: 32)
95. Mauritius (Hegemony Score: 33)
96. Guyana (Hegemony Score: 33)
97. Pakistan (Hegemony Score: 33)
98. Saudi Arabia (Hegemony Score: 33)
99. Seychelles (Hegemony Score: 33)
100. Isle of Man (Hegemony Score: 34)
101. Trinidad and Tobago (Hegemony Score: 34)
102. Mexico (Hegemony Score: 35)
103. Germany (Hegemony Score: 36)
104. Zambia (Hegemony Score: 36)
105. Vanuatu (Hegemony Score: 36)
106. Greece (Hegemony Score: 37)
107. Suriname (Hegemony Score: 37)
108. Eswatini (Hegemony Score: 37)
109. Luxembourg (Hegemony Score: 38)
110. Japan (Hegemony Score: 39)
111. Uruguay (Hegemony Score: 39)
112. Fiji (Hegemony Score: 40)
113. Central African Republic (Hegemony Score: 40)
114. Ecuador (Hegemony Score: 40)
115. Tajikistan (Hegemony Score: 40)
116. Guinea-Bissau (Hegemony Score: 40)
117. Croatia (Hegemony Score: 41)
118. Gabon (Hegemony Score: 41)
119. Costa Rica (Hegemony Score: 42)
120. French Polynesia (Hegemony Score: 43)
121. Senegal (Hegemony Score: 43)
122. Andorra (Hegemony Score: 44)
123. Djibouti (Hegemony Score: 44)
124. Benin (Hegemony Score: 45)
125. Faroe Islands (Hegemony Score: 45)
126. New Zealand (Hegemony Score: 46)
127. Bahrain (Hegemony Score: 46)
128. Dominican Republic (Hegemony Score: 47)
129. Kazakhstan (Hegemony Score: 50)
130. San Marino (Hegemony Score: 50)
131. Zimbabwe (Hegemony Score: 50)
132. Dominica (Hegemony Score: 52)
133. El Salvador (Hegemony Score: 52)
134. Madagascar (Hegemony Score: 53)
135. China (Hegemony Score: 53)
136. Brazil (Hegemony Score: 54)
137. Equatorial Guinea (Hegemony Score: 54)
138. Montenegro (Hegemony Score: 57)
139. Panama (Hegemony Score: 57)
140. Timor-Leste (Hegemony Score: 58)
141. Qatar (Hegemony Score: 59)
142. Lebanon (Hegemony Score: 59)
143. Sri Lanka (Hegemony Score: 60)
144. Uganda (Hegemony Score: 64)
145. Bosnia and Herzegovina (Hegemony Score: 65)
146. Morocco (Hegemony Score: 66)
147. Chad (Hegemony Score: 67)
148. Ghana (Hegemony Score: 67)
149. Puerto Rico (Hegemony Score: 67)
150. North Macedonia (Hegemony Score: 68)
151. Botswana (Hegemony Score: 69)
152. Nigeria (Hegemony Score: 69)
153. Turkmenistan (Hegemony Score: 70)
154. Algeria (Hegemony Score: 71)
155. Russian Federation (Hegemony Score: 72)
156. Papua New Guinea (Hegemony Score: 72)
157. Tonga (Hegemony Score: 73)
158. Kuwait (Hegemony Score: 74)
159. Oman (Hegemony Score: 75)
160. Sudan (Hegemony Score: 77)
161. Syrian Arab Republic (Hegemony Score: 81)
162. Ethiopia (Hegemony Score: 82)
163. Monaco (Hegemony Score: 82)
164. Estonia (Hegemony Score: 86)
165. Cuba (Hegemony Score: 90)
166. Iceland (Hegemony Score: 90)
167. Cameroon (Hegemony Score: 91)
168. Greenland (Hegemony Score: 104)
169. Libya (Hegemony Score: 105)
170. Jamaica (Hegemony Score: 112)
171. Afghanistan (Hegemony Score: 116)
172. Gibraltar (Hegemony Score: 126)
173. Bhutan (Hegemony Score: 134)
174. Liechtenstein (Hegemony Score: 168)

Pop / Votes Hegemony Rankings:
1. India (Hegemony Score: 0)
2. Indonesia (Hegemony Score: 0)
3. Colombia (Hegemony Score: 0)
4. Poland (Hegemony Score: 1)
5. Sao Tome and Principe (Hegemony Score: 1)
6. South Africa (Hegemony Score: 2)
7. Djibouti (Hegemony Score: 2)
8. Germany (Hegemony Score: 2)
9. Philippines (Hegemony Score: 3)
10. Argentina (Hegemony Score: 3)
11. Guinea-Bissau (Hegemony Score: 4)
12. Timor-Leste (Hegemony Score: 4)
13. Mauritius (Hegemony Score: 5)
14. French Polynesia (Hegemony Score: 5)
15. Virgin Islands (U.S.) (Hegemony Score: 5)
16. Malaysia (Hegemony Score: 6)
17. Italy (Hegemony Score: 6)
18. Bermuda (Hegemony Score: 6)
19. Dominican Republic (Hegemony Score: 8)
20. Cameroon (Hegemony Score: 8)
21. Cuba (Hegemony Score: 8)
22. Gabon (Hegemony Score: 8)
23. Seychelles (Hegemony Score: 9)
24. Isle of Man (Hegemony Score: 9)
25. Cayman Islands (Hegemony Score: 9)
26. Cabo Verde (Hegemony Score: 9)
27. Guyana (Hegemony Score: 10)
28. Grenada (Hegemony Score: 10)
29. Belize (Hegemony Score: 11)
30. Tunisia (Hegemony Score: 12)
31. Paraguay (Hegemony Score: 12)
32. Thailand (Hegemony Score: 12)
33. Kuwait (Hegemony Score: 13)
34. Guam (Hegemony Score: 13)
35. Qatar (Hegemony Score: 13)
36. New Caledonia (Hegemony Score: 15)
37. Japan (Hegemony Score: 15)
38. Honduras (Hegemony Score: 15)
39. France (Hegemony Score: 16)
40. Kazakhstan (Hegemony Score: 16)
41. Romania (Hegemony Score: 16)
42. Aruba (Hegemony Score: 16)
43. Tonga (Hegemony Score: 16)
44. Senegal (Hegemony Score: 17)
45. Belarus (Hegemony Score: 17)
46. American Samoa (Hegemony Score: 17)
47. Panama (Hegemony Score: 17)
48. Azerbaijan (Hegemony Score: 19)
49. Spain (Hegemony Score: 20)
50. Peru (Hegemony Score: 20)
51. Mexico (Hegemony Score: 21)
52. Canada (Hegemony Score: 22)
53. Fiji (Hegemony Score: 23)
54. Nepal (Hegemony Score: 24)
55. El Salvador (Hegemony Score: 24)
56. Oman (Hegemony Score: 24)
57. Solomon Islands (Hegemony Score: 24)
58. Sri Lanka (Hegemony Score: 25)
59. Eswatini (Hegemony Score: 26)
60. Trinidad and Tobago (Hegemony Score: 26)
61. Mongolia (Hegemony Score: 27)
62. Maldives (Hegemony Score: 27)
63. Ukraine (Hegemony Score: 27)
64. Tajikistan (Hegemony Score: 28)
65. Bahrain (Hegemony Score: 28)
66. Guatemala (Hegemony Score: 29)
67. Suriname (Hegemony Score: 29)
68. Saudi Arabia (Hegemony Score: 30)
69. Dominica (Hegemony Score: 30)
70. Barbados (Hegemony Score: 30)
71. Brunei Darussalam (Hegemony Score: 30)
72. Chile (Hegemony Score: 31)
73. Nicaragua (Hegemony Score: 32)
74. Jordan (Hegemony Score: 32)
75. Brazil (Hegemony Score: 32)
76. Vanuatu (Hegemony Score: 34)
77. Antigua and Barbuda (Hegemony Score: 35)
78. Cambodia (Hegemony Score: 36)
79. Marshall Islands (Hegemony Score: 37)
80. Comoros (Hegemony Score: 37)
81. Belgium (Hegemony Score: 38)
82. Equatorial Guinea (Hegemony Score: 40)
83. Russian Federation (Hegemony Score: 41)
84. Mauritania (Hegemony Score: 42)
85. Syrian Arab Republic (Hegemony Score: 42)
86. Puerto Rico (Hegemony Score: 42)
87. Portugal (Hegemony Score: 43)
88. Haiti (Hegemony Score: 43)
89. China (Hegemony Score: 45)
90. Bangladesh (Hegemony Score: 45)
91. Turkmenistan (Hegemony Score: 45)
92. Uzbekistan (Hegemony Score: 46)
93. Afghanistan (Hegemony Score: 46)
94. Lesotho (Hegemony Score: 47)
95. Eritrea (Hegemony Score: 47)
96. Viet Nam (Hegemony Score: 48)
97. Burkina Faso (Hegemony Score: 48)
98. Bulgaria (Hegemony Score: 49)
99. Iraq (Hegemony Score: 51)
100. Faroe Islands (Hegemony Score: 51)
101. Switzerland (Hegemony Score: 52)
102. Chad (Hegemony Score: 52)
103. Botswana (Hegemony Score: 53)
104. Lebanon (Hegemony Score: 53)
105. Australia (Hegemony Score: 53)
106. Serbia (Hegemony Score: 53)
107. Morocco (Hegemony Score: 53)
108. Armenia (Hegemony Score: 54)
109. Andorra (Hegemony Score: 54)
110. Czechia (Hegemony Score: 57)
111. Hungary (Hegemony Score: 58)
112. Georgia (Hegemony Score: 58)
113. Pakistan (Hegemony Score: 58)
114. Montenegro (Hegemony Score: 59)
115. Ecuador (Hegemony Score: 59)
116. Albania (Hegemony Score: 59)
117. Austria (Hegemony Score: 60)
118. Monaco (Hegemony Score: 62)
119. Mali (Hegemony Score: 62)
120. Algeria (Hegemony Score: 62)
121. Togo (Hegemony Score: 63)
122. Cyprus (Hegemony Score: 63)
123. Malta (Hegemony Score: 63)
124. Sierra Leone (Hegemony Score: 64)
125. Sweden (Hegemony Score: 65)
126. Bhutan (Hegemony Score: 66)
127. Greece (Hegemony Score: 68)
128. Zambia (Hegemony Score: 69)
129. Angola (Hegemony Score: 69)
130. Liberia (Hegemony Score: 71)
131. Costa Rica (Hegemony Score: 72)
132. North Macedonia (Hegemony Score: 73)
133. Bosnia and Herzegovina (Hegemony Score: 74)
134. Lithuania (Hegemony Score: 74)
135. Zimbabwe (Hegemony Score: 74)
136. San Marino (Hegemony Score: 75)
137. Ghana (Hegemony Score: 75)
138. Uruguay (Hegemony Score: 75)
139. Norway (Hegemony Score: 76)
140. Myanmar (Hegemony Score: 76)
141. Rwanda (Hegemony Score: 77)
142. Jamaica (Hegemony Score: 78)
143. Kenya (Hegemony Score: 78)
144. Papua New Guinea (Hegemony Score: 78)
145. Slovenia (Hegemony Score: 79)
146. Gibraltar (Hegemony Score: 81)
147. Latvia (Hegemony Score: 81)
148. Benin (Hegemony Score: 81)
149. Niger (Hegemony Score: 82)
150. Greenland (Hegemony Score: 82)
151. Nigeria (Hegemony Score: 82)
152. United Arab Emirates (Hegemony Score: 84)
153. Croatia (Hegemony Score: 85)
154. Central African Republic (Hegemony Score: 86)
155. Israel (Hegemony Score: 87)
156. Denmark (Hegemony Score: 89)
157. Libya (Hegemony Score: 91)
158. Mozambique (Hegemony Score: 92)
159. Malawi (Hegemony Score: 95)
160. Singapore (Hegemony Score: 96)
161. Finland (Hegemony Score: 96)
162. Guinea (Hegemony Score: 97)
163. New Zealand (Hegemony Score: 97)
164. Uganda (Hegemony Score: 100)
165. Ireland (Hegemony Score: 105)
166. Luxembourg (Hegemony Score: 110)
167. Ethiopia (Hegemony Score: 112)
168. Somalia (Hegemony Score: 112)
169. Burundi (Hegemony Score: 112)
170. Sudan (Hegemony Score: 113)
171. Estonia (Hegemony Score: 120)
172. Madagascar (Hegemony Score: 127)
173. Liechtenstein (Hegemony Score: 129)
174. Iceland (Hegemony Score: 139)

Gdp_pop / Wgt_score Hegemony Rankings:
1. Somalia (Hegemony Score: 0)
2. Rwanda (Hegemony Score: 0)
3. Morocco (Hegemony Score: 1)
4. Brunei Darussalam (Hegemony Score: 2)
5. Jamaica (Hegemony Score: 2)
6. Pakistan (Hegemony Score: 2)
7. Austria (Hegemony Score: 5)
8. Sri Lanka (Hegemony Score: 6)
9. Sierra Leone (Hegemony Score: 8)
10. Belgium (Hegemony Score: 8)
11. Australia (Hegemony Score: 8)
12. Chad (Hegemony Score: 9)
13. Cyprus (Hegemony Score: 9)
14. United Arab Emirates (Hegemony Score: 9)
15. Mauritania (Hegemony Score: 10)
16. Nigeria (Hegemony Score: 10)
17. Virgin Islands (U.S.) (Hegemony Score: 10)
18. Nicaragua (Hegemony Score: 11)
19. Iraq (Hegemony Score: 12)
20. Nepal (Hegemony Score: 12)
21. Bahrain (Hegemony Score: 13)
22. Costa Rica (Hegemony Score: 13)
23. Gabon (Hegemony Score: 14)
24. Georgia (Hegemony Score: 15)
25. Jordan (Hegemony Score: 15)
26. Andorra (Hegemony Score: 16)
27. Czechia (Hegemony Score: 16)
28. Chile (Hegemony Score: 16)
29. Togo (Hegemony Score: 18)
30. Lebanon (Hegemony Score: 18)
31. Dominican Republic (Hegemony Score: 19)
32. Indonesia (Hegemony Score: 21)
33. Canada (Hegemony Score: 22)
34. Estonia (Hegemony Score: 23)
35. Papua New Guinea (Hegemony Score: 23)
36. Guatemala (Hegemony Score: 24)
37. Tajikistan (Hegemony Score: 24)
38. Dominica (Hegemony Score: 25)
39. China (Hegemony Score: 25)
40. Mongolia (Hegemony Score: 25)
41. Senegal (Hegemony Score: 27)
42. Barbados (Hegemony Score: 27)
43. Syrian Arab Republic (Hegemony Score: 27)
44. Marshall Islands (Hegemony Score: 29)
45. Sudan (Hegemony Score: 29)
46. Uganda (Hegemony Score: 30)
47. Libya (Hegemony Score: 30)
48. Guyana (Hegemony Score: 30)
49. San Marino (Hegemony Score: 31)
50. Spain (Hegemony Score: 31)
51. Philippines (Hegemony Score: 32)
52. Myanmar (Hegemony Score: 34)
53. Timor-Leste (Hegemony Score: 34)
54. Croatia (Hegemony Score: 34)
55. Greece (Hegemony Score: 34)
56. Niger (Hegemony Score: 35)
57. Germany (Hegemony Score: 36)
58. Malawi (Hegemony Score: 37)
59. Bulgaria (Hegemony Score: 37)
60. Fiji (Hegemony Score: 37)
61. Mozambique (Hegemony Score: 38)
62. Switzerland (Hegemony Score: 39)
63. Hungary (Hegemony Score: 39)
64. Ecuador (Hegemony Score: 41)
65. Mali (Hegemony Score: 41)
66. North Macedonia (Hegemony Score: 42)
67. Antigua and Barbuda (Hegemony Score: 43)
68. Kazakhstan (Hegemony Score: 43)
69. Qatar (Hegemony Score: 43)
70. India (Hegemony Score: 45)
71. Honduras (Hegemony Score: 45)
72. Cambodia (Hegemony Score: 45)
73. France (Hegemony Score: 46)
74. Sao Tome and Principe (Hegemony Score: 46)
75. Kenya (Hegemony Score: 46)
76. Brazil (Hegemony Score: 48)
77. Denmark (Hegemony Score: 48)
78. Zambia (Hegemony Score: 48)
79. Colombia (Hegemony Score: 50)
80. French Polynesia (Hegemony Score: 51)
81. Belize (Hegemony Score: 52)
82. Argentina (Hegemony Score: 52)
83. Algeria (Hegemony Score: 52)
84. Comoros (Hegemony Score: 52)
85. Finland (Hegemony Score: 53)
86. Seychelles (Hegemony Score: 53)
87. Zimbabwe (Hegemony Score: 53)
88. Montenegro (Hegemony Score: 53)
89. Belarus (Hegemony Score: 54)
90. Lesotho (Hegemony Score: 54)
91. Madagascar (Hegemony Score: 55)
92. Liberia (Hegemony Score: 58)
93. Botswana (Hegemony Score: 58)
94. New Caledonia (Hegemony Score: 60)
95. Uzbekistan (Hegemony Score: 61)
96. Paraguay (Hegemony Score: 61)
97. Eswatini (Hegemony Score: 61)
98. Haiti (Hegemony Score: 63)
99. Mauritius (Hegemony Score: 63)
100. Peru (Hegemony Score: 63)
101. Bosnia and Herzegovina (Hegemony Score: 64)
102. Malaysia (Hegemony Score: 68)
103. Ghana (Hegemony Score: 68)
104. Cabo Verde (Hegemony Score: 68)
105. Maldives (Hegemony Score: 69)
106. Tunisia (Hegemony Score: 70)
107. Armenia (Hegemony Score: 71)
108. Japan (Hegemony Score: 71)
109. Djibouti (Hegemony Score: 72)
110. El Salvador (Hegemony Score: 72)
111. Italy (Hegemony Score: 73)
112. Israel (Hegemony Score: 74)
113. Grenada (Hegemony Score: 75)
114. Guinea (Hegemony Score: 75)
115. Albania (Hegemony Score: 75)
116. Latvia (Hegemony Score: 75)
117. Mexico (Hegemony Score: 75)
118. Azerbaijan (Hegemony Score: 76)
119. Suriname (Hegemony Score: 76)
120. Vanuatu (Hegemony Score: 76)
121. Lithuania (Hegemony Score: 77)
122. Monaco (Hegemony Score: 78)
123. Kuwait (Hegemony Score: 81)
124. Ukraine (Hegemony Score: 83)
125. Cayman Islands (Hegemony Score: 83)
126. Liechtenstein (Hegemony Score: 85)
127. Guinea-Bissau (Hegemony Score: 86)
128. Viet Nam (Hegemony Score: 88)
129. Ireland (Hegemony Score: 90)
130. Iceland (Hegemony Score: 91)
131. Equatorial Guinea (Hegemony Score: 91)
132. Serbia (Hegemony Score: 91)
133. Thailand (Hegemony Score: 93)
134. Ethiopia (Hegemony Score: 97)
135. Panama (Hegemony Score: 97)
136. Russian Federation (Hegemony Score: 104)
137. South Africa (Hegemony Score: 105)
138. Isle of Man (Hegemony Score: 105)
139. Poland (Hegemony Score: 107)
140. Oman (Hegemony Score: 107)
141. Cameroon (Hegemony Score: 108)
142. Romania (Hegemony Score: 109)
143. Turkmenistan (Hegemony Score: 109)
144. Malta (Hegemony Score: 110)
145. Guam (Hegemony Score: 115)
146. Bangladesh (Hegemony Score: 115)
147. Luxembourg (Hegemony Score: 119)
148. Gibraltar (Hegemony Score: 120)
149. Greenland (Hegemony Score: 120)
150. Portugal (Hegemony Score: 121)
151. Faroe Islands (Hegemony Score: 126)
152. Angola (Hegemony Score: 128)
153. New Zealand (Hegemony Score: 129)
154. Saudi Arabia (Hegemony Score: 130)
155. Eritrea (Hegemony Score: 130)
156. Benin (Hegemony Score: 131)
157. Puerto Rico (Hegemony Score: 131)
158. Trinidad and Tobago (Hegemony Score: 135)
159. Slovenia (Hegemony Score: 139)
160. Solomon Islands (Hegemony Score: 140)
161. Cuba (Hegemony Score: 142)
162. Central African Republic (Hegemony Score: 143)
163. Norway (Hegemony Score: 145)
164. Burkina Faso (Hegemony Score: 149)
165. Uruguay (Hegemony Score: 150)
166. Bhutan (Hegemony Score: 156)
167. Burundi (Hegemony Score: 158)
168. Sweden (Hegemony Score: 159)
169. Bermuda (Hegemony Score: 160)
170. Singapore (Hegemony Score: 168)
171. American Samoa (Hegemony Score: 172)
172. Afghanistan (Hegemony Score: 178)
173. Aruba (Hegemony Score: 184)
174. Tonga (Hegemony Score: 210)

# Task 3 - Focus on Directors

In [20]:
# Preparing data for directors analysis by merging movie_df with data from which inference about directors is made
movies_directors_df = prepare_movies_directors(crew, names, movies_df)
movies_directors_df.head(10)

,tconst,directors,writers,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles,titleType,...,ordering,title,region,language,types,attributes,isOriginalTitle,titleId_y,country,composite_score
0,tt0111161,nm0001104,"nm0000175,nm0001104",nm0001104,Frank Darabont,1959,<NA>,"writer,producer,director","tt0120689,tt0111161,tt0884328,tt1520211",movie,...,1.0,The Shawshank Redemption,<NA>,<NA>,original,<NA>,1.0,tt0111161,IS,871760.31
1,tt0468569,nm0634240,"nm0634300,nm0634240,nm0275286,nm0004170",nm0634240,Christopher Nolan,1970,<NA>,"writer,producer,director","tt6723592,tt0816692,tt1375666,tt0482571",movie,...,1.0,The Dark Knight,<NA>,<NA>,original,<NA>,1.0,tt0468569,ID,866137.50
2,tt1375666,nm0634240,nm0634240,nm0634240,Christopher Nolan,1970,<NA>,"writer,producer,director","tt6723592,tt0816692,tt1375666,tt0482571",movie,...,1.0,Inception,<NA>,<NA>,original,<NA>,1.0,tt1375666,GB,769596.16
3,tt0137523,nm0000399,"nm0657333,nm0880243",nm0000399,David Fincher,1962,<NA>,"producer,director,writer","tt0114369,tt2267998,tt0443706,tt1285016",movie,...,1.0,Fight Club,<NA>,<NA>,original,<NA>,1.0,tt0137523,FI,701755.36
4,tt0109830,nm0000709,"nm0343165,nm0744839",nm0000709,Robert Zemeckis,1952,<NA>,"producer,writer,director","tt0088763,tt0109830,tt0118884,tt1907668",movie,...,1.0,Forrest Gump,<NA>,<NA>,original,<NA>,1.0,tt0109830,DK,681472.06
5,tt0110912,nm0000233,"nm0000233,nm0000812",nm0000233,Quentin Tarantino,1963,<NA>,"producer,writer,actor","tt0105236,tt0110912,tt7131622,tt0116367",movie,...,1.0,Pulp Fiction,<NA>,<NA>,original,<NA>,1.0,tt0110912,EE,670144.43
6,tt0816692,nm0634240,"nm0634300,nm0634240",nm0634240,Christopher Nolan,1970,<NA>,"writer,producer,director","tt6723592,tt0816692,tt1375666,tt0482571",movie,...,1.0,Interstellar,<NA>,<NA>,original,<NA>,1.0,tt0816692,GB,635870.19
8,tt0068646,nm0000338,"nm0701374,nm0000338",nm0000338,Francis Ford Coppola,1939,<NA>,"producer,director,writer","tt0078788,tt0071360,tt0068646,tt0071562",movie,...,1.0,The Godfather,<NA>,<NA>,original,<NA>,1.0,tt0068646,HK,607480.04
9,tt0120737,nm0001392,"nm0866058,nm0909638,nm0101991,nm0001392",nm0001392,Peter Jackson,1961,<NA>,"producer,director,writer","tt0120737,tt0092610,tt0167260,tt0360717",movie,...,1.0,The Lord of the Rings: The Fellowship of the Ring,<NA>,<NA>,original,<NA>,1.0,tt0120737,NZ,605482.43
10,tt0167260,nm0001392,"nm0866058,nm0909638,nm0101991,nm0001392",nm0001392,Peter Jackson,1961,<NA>,"producer,director,writer","tt0120737,tt0092610,tt0167260,tt0360717",movie,...,1.0,The Lord of the Rings: The Return of the King,<NA>,<NA>,original,<NA>,1.0,tt0167260,IN,596937.30

### Which director is the best according to our composite score? (this analysis' own metric)

In [21]:
# Using mean as aggregation function
rank_directors(movies_directors_df, 'primaryName', 'composite_score', 'mean')

                     primaryName  aggregated_score  total_movies  rank
0              Christopher Nolan     407315.641667            13   1.0
1                 Frank Darabont     354156.782500             4   2.0
2                  John Lasseter     322166.810000             1   3.0
3              Quentin Tarantino     271842.562500            12   4.0
4                    Lee Unkrich     268908.110000             1   5.0
...                          ...               ...           ...   ...
167720                Ülo Tambek               NaN             1   NaN
167721               Ümit Volkan               NaN             1   NaN
167722               Ünsel Aybek               NaN             3   NaN
167723  Þorstein J. Vilhjálmsson               NaN             1   NaN
167724        Þorsteinn Helgason               NaN             1   NaN

[167725 rows x 4 columns]

In [22]:
# Using sum as aggregation function
rank_directors(movies_directors_df, 'primaryName', 'composite_score', 'sum')

                   primaryName  aggregated_score  total_movies     rank
0            Christopher Nolan        4887787.70            13      1.0
1             Steven Spielberg        4371850.41            34      2.0
2            Quentin Tarantino        3262110.75            12      3.0
3              Martin Scorsese        3193269.69            36      4.0
4                David Fincher        2731575.10            12      5.0
...                        ...               ...           ...      ...
167720      Þorsteinn Helgason              0.00             1  99830.0
167721             .K. Sharath              0.00             1  99830.0
167722            .K. Nanjunda              0.00             1  99830.0
167723  'Rayzor' Raymond Davis              0.00             1  99830.0
167724    'Atlas' Ramachandran              0.00             1  99830.0

[167725 rows x 4 columns]

In [23]:
# Using thresholds for good and bad movies to enhance decent movies and punish flops. Looking for more predictable directors.
custom_ranking(movies_directors_df, 'primaryName', 'composite_score', good_threshold=7.0, bad_threshold=3.0)

               primaryName  custom_score  total_movies      rank
0        Christopher Nolan     63.525089            13       1.0
1           Frank Darabont     20.122436             4       2.0
2        Quentin Tarantino     18.051022            12       3.0
3            David Fincher      9.358073            12       4.0
4            John Lasseter      1.391147             1       5.0
...                    ...           ...           ...       ...
167720  Kostas Karagiannis   -302.941768           102  167721.0
167721       Ülkü Erakalin   -302.983294           166  167722.0
167722          Godfrey Ho   -311.939491           123  167723.0
167723      Osman F. Seden   -356.848048           130  167724.0
167724        Jesús Franco   -461.695888           154  167725.0

[167725 rows x 4 columns]

In [24]:
# Ranking of directors that are known also for their acting 
# (yes I did this one because I love Quentin Tarantino and he almost always play in his movies some side, silly roles)
rank_director_actors(movies_directors_df, 'primaryName', 'composite_score', good_threshold=6.0, bad_threshold=2.0)

             primaryName  custom_score  total_movies     rank
0      Quentin Tarantino     72.937783            12      1.0
1        Martin Scorsese     10.338639            36      2.0
2           Bryan Singer      6.810147            11      3.0
3         Andrew Stanton      6.086147             2      4.0
4             Mel Gibson      3.934016             5      5.0
...                  ...           ...           ...      ...
33184        Orhan Elmas   -173.977429           107  33185.0
33185     Mariano Ozores   -183.960996            92  33186.0
33186      Joel Lamangan   -185.946065           101  33187.0
33187       Nejat Saydam   -189.969734           109  33188.0
33188       Jesús Franco   -307.604394           154  33189.0

[33189 rows x 4 columns]