# Imports

In [1]:
import pandas as pd
import os
from functions.utilities import load_data, clean_data
from functions.task1_functions import quality_of_movies_by_country
from functions.task2_functions import total_votes_by_country, average_composite_score_by_country, weighted_average_composite_score_by_country, filter_countries_with_reference, get_countries_and_clean_orders, calculate_gdp_per_population, rename_and_add_rank, compute_hegemony
from functions.task3_functions import prepare_movies_directors, rank_directors, custom_ranking

# Data loading

In [2]:
# Define the data directory and output directory
data_dir = 'data_imdb'
output_dir = 'cleaned_data' # ??????

# Load and clean the data
basics = clean_data(load_data(os.path.join(data_dir, 'title.basics.tsv')))
akas = clean_data(load_data(os.path.join(data_dir, 'title.akas.tsv')))
ratings = clean_data(load_data(os.path.join(data_dir, 'title.ratings.tsv')))

Loading data from: data_imdb\title.basics.tsv ...
Loading data from: data_imdb\title.akas.tsv ...
Loading data from: data_imdb\title.ratings.tsv ...

In [3]:
print("Sample data from basics:")
basics.head()

Sample data from basics:

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,<NA>,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,<NA>,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,<NA>,5,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,<NA>,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,<NA>,1,"Comedy,Short"

In [4]:
print("Sample data from akas:")
akas.head()

Sample data from akas:

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Carmencita,<NA>,<NA>,original,<NA>,1
1,tt0000001,2,Carmencita,DE,<NA>,<NA>,literal title,0
2,tt0000001,3,Carmencita,US,<NA>,imdbDisplay,<NA>,0
3,tt0000001,4,Carmencita - spanyol tánc,HU,<NA>,imdbDisplay,<NA>,0
4,tt0000001,5,Καρμενσίτα,GR,<NA>,imdbDisplay,<NA>,0

In [5]:
print("Sample data from ratings:")
ratings.head()

Sample data from ratings:

      tconst  averageRating  numVotes
0  tt0000001            5.7      2058
1  tt0000002            5.7       276
2  tt0000003            6.5      2022
3  tt0000004            5.4       179
4  tt0000005            6.2      2787

# Task 1 - Quality of movies by country

In [6]:
top_orders = [10, 20, 50, 100]

# Analyze the quality of movies by country
country_counts, movies_df = quality_of_movies_by_country(basics, ratings, akas, top_orders)

# Display country appearances in top N sequences
country_counts

There are 665 movies without an assigned country.

{10: {'GB': 2,
  'IS': 1,
  'ID': 1,
  'FI': 1,
  'DK': 1,
  'EE': 1,
  'AE': 1,
  'HK': 1,
  'NZ': 1},
 20: {'IN': 4,
  'GB': 3,
  'AE': 2,
  'ID': 2,
  'NZ': 2,
  'IS': 1,
  'FI': 1,
  'DK': 1,
  'HK': 1,
  'EE': 1,
  'EG': 1,
  'PH': 1},
 50: {'IN': 12,
  'GB': 5,
  'AE': 4,
  'NL': 4,
  'IL': 2,
  'IT': 2,
  'ID': 2,
  'EE': 2,
  'EG': 2,
  'NZ': 2,
  'PH': 2,
  'DK': 2,
  'ES': 2,
  'IS': 1,
  'FI': 1,
  'HK': 1,
  'CM': 1,
  'CZ': 1,
  'EC': 1,
  'FR': 1},
 100: {'IN': 24,
  'ID': 7,
  'AE': 7,
  'NL': 7,
  'GB': 6,
  'EG': 5,
  'IL': 4,
  'PH': 4,
  'IE': 4,
  'FR': 4,
  'DK': 3,
  'HK': 3,
  'ES': 3,
  'IT': 2,
  'NZ': 2,
  'EE': 2,
  'EC': 2,
  'FI': 1,
  'IS': 1,
  'CZ': 1,
  'CM': 1,
  'CO': 1,
  'KR': 1,
  'GR': 1,
  'AU': 1,
  'JP': 1,
  'SG': 1,
  'DE': 1}}

In [7]:
print(movies_df.shape)
movies_df.head(20)

(310812, 22)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,...,ordering,title,region,language,types,attributes,isOriginalTitle,titleId_y,country,composite_score
774848,tt0111161,movie,The Shawshank Redemption,The Shawshank Redemption,0,1994,<NA>,142,Drama,9.3,...,1,The Shawshank Redemption,<NA>,<NA>,original,<NA>,1,tt0111161,IS,871760.31
1268319,tt0468569,movie,The Dark Knight,The Dark Knight,0,2008,<NA>,152,"Action,Crime,Drama",9.0,...,1,The Dark Knight,<NA>,<NA>,original,<NA>,1,tt0468569,ID,866137.50
1568611,tt1375666,movie,Inception,Inception,0,2010,<NA>,148,"Action,Adventure,Sci-Fi",8.8,...,1,Inception,<NA>,<NA>,original,<NA>,1,tt1375666,GB,769596.16
876166,tt0137523,movie,Fight Club,Fight Club,0,1999,<NA>,139,Drama,8.8,...,1,Fight Club,<NA>,<NA>,original,<NA>,1,tt0137523,FI,701755.36
765487,tt0109830,movie,Forrest Gump,Forrest Gump,0,1994,<NA>,142,"Drama,Romance",8.8,...,1,Forrest Gump,<NA>,<NA>,original,<NA>,1,tt0109830,DK,681472.06
772965,tt0110912,movie,Pulp Fiction,Pulp Fiction,0,1994,<NA>,154,"Crime,Drama",8.9,...,1,Pulp Fiction,<NA>,<NA>,original,<NA>,1,tt0110912,EE,670144.43
1310657,tt0816692,movie,Interstellar,Interstellar,0,2014,<NA>,169,"Adventure,Drama,Sci-Fi",8.7,...,1,Interstellar,<NA>,<NA>,original,<NA>,1,tt0816692,GB,635870.19
868149,tt0133093,movie,The Matrix,The Matrix,0,1999,<NA>,136,"Action,Sci-Fi",8.7,...,1,The Matrix,<NA>,<NA>,original,<NA>,1,tt0133093,AE,619520.79
444363,tt0068646,movie,The Godfather,The Godfather,0,1972,<NA>,175,"Crime,Drama",9.2,...,1,The Godfather,<NA>,<NA>,original,<NA>,1,tt0068646,HK,607480.04
838707,tt0120737,movie,The Lord of the Rings: The Fellowship of the Ring,The Lord of the Rings: The Fellowship of the Ring,0,2001,<NA>,178,"Action,Adventure,Drama",8.9,...,1,The Lord of the Rings: The Fellowship of the Ring,<NA>,<NA>,original,<NA>,1,tt0120737,NZ,605482.43
925321,tt0167260,movie,The Lord of the Rings: The Return of the King,The Lord of the Rings: The Return of the King,0,2003,<NA>,201,"Action,Adventure,Drama",9.0,...,1,The Lord of the Rings: The Return of the King,<NA>,<NA>,original,<NA>,1,tt0167260,IN,596937.30
1554320,tt1345836,movie,The Dark Knight Rises,The Dark Knight Rises,0,2012,<NA>,164,"Action,Drama,Thriller",8.4,...,1,The Dark Knight Rises,<NA>,<NA>,original,<NA>,1,tt1345836,ID,551104.68
793622,tt0114369,movie,Se7en,Se7en,0,1995,<NA>,127,"Crime,Drama,Mystery",8.6,...,1,Se7en,<NA>,<NA>,original,<NA>,1,tt0114369,AE,543068.42
925393,tt0167261,movie,The Lord of the Rings: The Two Towers,The Lord of the Rings: The Two Towers,0,2002,<NA>,179,"Action,Adventure,Drama",8.8,...,1,The Lord of the Rings: The Two Towers,<NA>,<NA>,original,<NA>,1,tt0167261,NZ,538139.86
1762218,tt1853728,movie,Django Unchained,Django Unchained,0,2012,<NA>,165,"Comedy,Drama,Western",8.5,...,1,Django Unchained,<NA>,<NA>,original,<NA>,1,tt1853728,IN,511853.65
933995,tt0172495,movie,Gladiator,Gladiator,0,2000,<NA>,155,"Action,Adventure,Drama",8.5,...,1,Gladiator,<NA>,<NA>,original,<NA>,1,tt0172495,EG,489051.85
1168926,tt0361748,movie,Inglourious Basterds,Inglourious Basterds,0,2009,<NA>,153,"Adventure,Drama,War",8.4,...,1,Inglourious Basterds,<NA>,<NA>,original,<NA>,1,tt0361748,IN,478506.18
1346325,tt0993846,movie,The Wolf of Wall Street,The Wolf of Wall Street,0,2013,<NA>,180,"Biography,Comedy,Crime",8.2,...,1,The Wolf of Wall Street,<NA>,<NA>,original,<NA>,1,tt0993846,IN,478496.14
1181768,tt0372784,movie,Batman Begins,Batman Begins,0,2005,<NA>,140,"Action,Crime,Drama",8.2,...,1,Batman Begins,<NA>,<NA>,original,<NA>,1,tt0372784,GB,475999.54
721744,tt0102926,movie,The Silence of the Lambs,The Silence of the Lambs,0,1991,<NA>,118,"Crime,Drama,Thriller",8.6,...,1,The Silence of the Lambs,<NA>,<NA>,original,<NA>,1,tt0102926,PH,467211.02

# Task 2 - "Cinematic Impact" Hegemony

In [8]:
# weak cinematic impact
votes_df = total_votes_by_country(movies_df)

# strong cinematic impact
avg_score_df = average_composite_score_by_country(movies_df)

# strong cinematic impact v2
avg_wgt_score_df = weighted_average_composite_score_by_country(movies_df)

In [9]:
# Introducing dataset with codenames for countries (TODO)
country_codes_df = pd.read_csv('data_gdp_population/country_codes_all.csv')

In [10]:
votes_df, excluded_countries = get_countries_and_clean_orders(
    votes_df, country_codes_df, 'country', 'alpha-2', ['name', 'number of votes'])

avg_score_df, _ = get_countries_and_clean_orders(
    avg_score_df, country_codes_df, 'country', 'alpha-2',['name', 'average composite score'])

avg_wgt_score_df, _ = get_countries_and_clean_orders(
    avg_wgt_score_df, country_codes_df, 'country', 'alpha-2', ['name', 'weighted average composite score'])

print(f"Country codes excluded from further analysis:\n{excluded_countries}")

Country codes excluded from further analysis:
['XWW', 'XWG', 'CSHH', 'XYU', 'DDDE', 'XEU', 'SUHH', 'YUCS', 'CSXX', 'XAS', 'XKV', 'AN', 'XKO', 'BUMM', 'VDVN', 'ZRCD', 'XSI', 'XPI']

In [11]:
votes_df

                                                  name  number of votes
0                                                India        206215661
1                                            Australia         94268154
2    United Kingdom of Great Britain and Northern I...         84405730
3                                            Indonesia         58336390
4                          Netherlands, Kingdom of the         48650006
..                                                 ...              ...
212                                           Botswana               10
213                                         Seychelles                9
214                                             Gambia                8
215                                            Comoros                8
216                                              Libya                8

[199 rows x 2 columns]

In [12]:
avg_wgt_score_df

                  name  weighted average composite score
0              Iceland                     806889.141677
1              Estonia                     527363.572450
2             Cameroon                     382709.202256
3          New Zealand                     241750.755855
4              Denmark                     225768.037646
..                 ...                               ...
212    Solomon Islands                          6.034706
213  Equatorial Guinea                          5.813333
214            Comoros                          5.410000
215         Seychelles                          5.220000
216             Gambia                          4.780000

[199 rows x 2 columns]

In [13]:
# Source (TODO): https://data.worldbank.org/indicator/NY.GDP.MKTP.CD?end=2023&name_desc=false&skipRedirection=true&start=1960&view=chart
data_dir = 'data_gdp_population'

# Load the data
gdp_df = clean_data(load_data(os.path.join(data_dir, 'API_NY.GDP.MKTP.CD_DS2_en_csv_v2_580250.csv'), header=2))
pop_df = clean_data(load_data(os.path.join(data_dir, 'API_SP.POP.TOTL_DS2_en_csv_v2_580248.csv'), header=2))

Loading data from: data_gdp_population\API_NY.GDP.MKTP.CD_DS2_en_csv_v2_580250.csv ...
Loading data from: data_gdp_population\API_SP.POP.TOTL_DS2_en_csv_v2_580248.csv ...

In [14]:
gdp_df = filter_countries_with_reference(gdp_df, 'Country Code', country_codes_df, 'alpha-3')
gdp_df

               Country Name          2023
251           United States  2.736094e+13
40                    China  1.779478e+13
55                  Germany  4.456081e+12
119                   Japan  4.212945e+12
109                   India  3.549919e+12
..                      ...           ...
239                   Tonga           NaN
254           Venezuela, RB           NaN
255  British Virgin Islands           NaN
256   Virgin Islands (U.S.)           NaN
262             Yemen, Rep.           NaN

[215 rows x 2 columns]

In [15]:
pop_df = filter_countries_with_reference(pop_df, 'Country Code', country_codes_df, 'alpha-3')
pop_df

                 Country Name          2023
109                     India  1.428628e+09
40                      China  1.410710e+09
251             United States  3.349149e+08
106                 Indonesia  2.775341e+08
184                  Pakistan  2.404857e+08
..                        ...           ...
147  St. Martin (French part)  3.207700e+04
255    British Virgin Islands  3.153800e+04
188                     Palau  1.805800e+04
179                     Nauru  1.278000e+04
245                    Tuvalu  1.139600e+04

[215 rows x 2 columns]

In [16]:
gdp_pop_df = calculate_gdp_per_population(gdp_df, pop_df)
gdp_pop_df

                      index  gdp_per_population
70               Luxembourg       128259.402583
24                  Ireland       103684.880802
19              Switzerland        99994.938020
30                   Norway        87961.780614
29                Singapore        84734.255921
..                      ...                 ...
210                   Tonga                 NaN
211           Venezuela, RB                 NaN
212  British Virgin Islands                 NaN
213   Virgin Islands (U.S.)                 NaN
214             Yemen, Rep.                 NaN

[215 rows x 2 columns]

In [17]:
votes_df = rename_and_add_rank(votes_df, ['country', 'number of votes'])
avg_score_df = rename_and_add_rank(avg_score_df, ['country', 'average score'])
avg_wgt_score_df = rename_and_add_rank(avg_wgt_score_df, ['country', 'weighted average score'])

gdp_df = rename_and_add_rank(gdp_df, ['country', 'gdp'])
pop_df = rename_and_add_rank(pop_df, ['country', 'population'])
gdp_pop_df = rename_and_add_rank(gdp_pop_df, ['country', 'gdp/population'])

In [18]:
gdp_score_hegemony = compute_hegemony(gdp_df, avg_score_df, 'gdp', 'avg_score')
pop_votes_hegemony = compute_hegemony(pop_df, votes_df, 'pop', 'votes')
gdp_pop_wgt_score_hegemony = compute_hegemony(gdp_pop_df, avg_wgt_score_df, 'gdp_pop', 'wgt_score')

Gdp / Avg_score Hegemony Rankings:
1. Mongolia (Hegemony Score: 0)
2. Slovenia (Hegemony Score: 0)
3. Thailand (Hegemony Score: 1)
4. Albania (Hegemony Score: 1)
5. Marshall Islands (Hegemony Score: 1)
6. Mali (Hegemony Score: 2)
7. Grenada (Hegemony Score: 2)
8. Portugal (Hegemony Score: 3)
9. Myanmar (Hegemony Score: 3)
10. Bermuda (Hegemony Score: 3)
11. Sao Tome and Principe (Hegemony Score: 4)
12. Eritrea (Hegemony Score: 4)
13. Sweden (Hegemony Score: 4)
14. Cyprus (Hegemony Score: 5)
15. Antigua and Barbuda (Hegemony Score: 5)
16. Nepal (Hegemony Score: 6)
17. Azerbaijan (Hegemony Score: 6)
18. Norway (Hegemony Score: 6)
19. Belize (Hegemony Score: 7)
20. American Samoa (Hegemony Score: 7)
21. Belarus (Hegemony Score: 8)
22. Nicaragua (Hegemony Score: 9)
23. Romania (Hegemony Score: 10)
24. Guam (Hegemony Score: 10)
25. Armenia (Hegemony Score: 10)
26. Denmark (Hegemony Score: 10)
27. Bulgaria (Hegemony Score: 11)
28. Burkina Faso (Hegemony Score: 11)
29. Cabo Verde (Hegemony Score: 11)
30. Indonesia (Hegemony Score: 12)
31. Mauritania (Hegemony Score: 12)
32. Brunei Darussalam (Hegemony Score: 12)
33. Hungary (Hegemony Score: 13)
34. India (Hegemony Score: 14)
35. Spain (Hegemony Score: 14)
36. Cambodia (Hegemony Score: 14)
37. Tunisia (Hegemony Score: 15)
38. Lithuania (Hegemony Score: 16)
39. Malta (Hegemony Score: 17)
40. Serbia (Hegemony Score: 17)
41. Latvia (Hegemony Score: 17)
42. Niger (Hegemony Score: 17)
43. Philippines (Hegemony Score: 18)
44. Austria (Hegemony Score: 18)
45. Australia (Hegemony Score: 18)
46. Aruba (Hegemony Score: 18)
47. Lesotho (Hegemony Score: 19)
48. Honduras (Hegemony Score: 19)
49. South Africa (Hegemony Score: 20)
50. Uzbekistan (Hegemony Score: 21)
51. Chile (Hegemony Score: 21)
52. United Arab Emirates (Hegemony Score: 21)
53. Ukraine (Hegemony Score: 21)
54. Paraguay (Hegemony Score: 22)
55. Virgin Islands (U.S.) (Hegemony Score: 22)
56. New Caledonia (Hegemony Score: 22)
57. Malaysia (Hegemony Score: 22)
58. Peru (Hegemony Score: 22)
59. Jordan (Hegemony Score: 22)
60. Sierra Leone (Hegemony Score: 23)
61. Ireland (Hegemony Score: 23)
62. France (Hegemony Score: 23)
63. Singapore (Hegemony Score: 23)
64. Czechia (Hegemony Score: 23)
65. Comoros (Hegemony Score: 24)
66. Argentina (Hegemony Score: 24)
67. Maldives (Hegemony Score: 24)
68. Guinea (Hegemony Score: 24)
69. Georgia (Hegemony Score: 24)
70. Haiti (Hegemony Score: 25)
71. Israel (Hegemony Score: 25)
72. Somalia (Hegemony Score: 25)
73. Bangladesh (Hegemony Score: 26)
74. Belgium (Hegemony Score: 26)
75. Poland (Hegemony Score: 26)
76. Liberia (Hegemony Score: 26)
77. Barbados (Hegemony Score: 26)
78. Solomon Islands (Hegemony Score: 26)
79. Iraq (Hegemony Score: 27)
80. Rwanda (Hegemony Score: 27)
81. Colombia (Hegemony Score: 27)
82. Italy (Hegemony Score: 27)
83. Malawi (Hegemony Score: 28)
84. Canada (Hegemony Score: 28)
85. Burundi (Hegemony Score: 28)
86. Guatemala (Hegemony Score: 29)
87. Finland (Hegemony Score: 29)
88. Angola (Hegemony Score: 29)
89. Switzerland (Hegemony Score: 31)
90. Viet Nam (Hegemony Score: 31)
91. Togo (Hegemony Score: 31)
92. Isle of Man (Hegemony Score: 33)
93. Saudi Arabia (Hegemony Score: 33)
94. Kenya (Hegemony Score: 33)
95. Seychelles (Hegemony Score: 33)
96. Mauritius (Hegemony Score: 33)
97. Guyana (Hegemony Score: 34)
98. Zambia (Hegemony Score: 35)
99. Trinidad and Tobago (Hegemony Score: 35)
100. Mexico (Hegemony Score: 36)
101. Pakistan (Hegemony Score: 36)
102. Japan (Hegemony Score: 37)
103. Germany (Hegemony Score: 37)
104. Mozambique (Hegemony Score: 37)
105. Suriname (Hegemony Score: 37)
106. Eswatini (Hegemony Score: 37)
107. Greece (Hegemony Score: 38)
108. Luxembourg (Hegemony Score: 39)
109. Tajikistan (Hegemony Score: 39)
110. Guinea-Bissau (Hegemony Score: 39)
111. Fiji (Hegemony Score: 40)
112. Ecuador (Hegemony Score: 40)
113. Uruguay (Hegemony Score: 40)
114. Croatia (Hegemony Score: 41)
115. Gabon (Hegemony Score: 42)
116. French Polynesia (Hegemony Score: 42)
117. Djibouti (Hegemony Score: 43)
118. Costa Rica (Hegemony Score: 43)
119. Senegal (Hegemony Score: 44)
120. Andorra (Hegemony Score: 44)
121. Faroe Islands (Hegemony Score: 46)
122. New Zealand (Hegemony Score: 46)
123. Bahrain (Hegemony Score: 47)
124. Dominican Republic (Hegemony Score: 48)
125. San Marino (Hegemony Score: 49)
126. Kazakhstan (Hegemony Score: 50)
127. Benin (Hegemony Score: 50)
128. Zimbabwe (Hegemony Score: 51)
129. Dominica (Hegemony Score: 51)
130. El Salvador (Hegemony Score: 52)
131. China (Hegemony Score: 53)
132. Madagascar (Hegemony Score: 53)
133. Equatorial Guinea (Hegemony Score: 54)
134. Brazil (Hegemony Score: 54)
135. Montenegro (Hegemony Score: 56)
136. Qatar (Hegemony Score: 57)
137. Timor-Leste (Hegemony Score: 57)
138. Panama (Hegemony Score: 58)
139. Lebanon (Hegemony Score: 58)
140. Sri Lanka (Hegemony Score: 61)
141. Uganda (Hegemony Score: 66)
142. Morocco (Hegemony Score: 67)
143. Bosnia and Herzegovina (Hegemony Score: 67)
144. Chad (Hegemony Score: 67)
145. Puerto Rico (Hegemony Score: 68)
146. Ghana (Hegemony Score: 68)
147. Turkmenistan (Hegemony Score: 68)
148. North Macedonia (Hegemony Score: 69)
149. Botswana (Hegemony Score: 69)
150. Nigeria (Hegemony Score: 70)
151. Papua New Guinea (Hegemony Score: 71)
152. Tonga (Hegemony Score: 72)
153. Algeria (Hegemony Score: 72)
154. Russian Federation (Hegemony Score: 75)
155. Kuwait (Hegemony Score: 75)
156. Oman (Hegemony Score: 76)
157. Sudan (Hegemony Score: 78)
158. Syrian Arab Republic (Hegemony Score: 80)
159. Monaco (Hegemony Score: 81)
160. Ethiopia (Hegemony Score: 83)
161. Estonia (Hegemony Score: 88)
162. Cuba (Hegemony Score: 88)
163. Iceland (Hegemony Score: 91)
164. Cameroon (Hegemony Score: 91)
165. Jamaica (Hegemony Score: 102)
166. Greenland (Hegemony Score: 103)
167. Libya (Hegemony Score: 105)
168. Afghanistan (Hegemony Score: 117)
169. Gibraltar (Hegemony Score: 127)
170. Bhutan (Hegemony Score: 130)
171. Liechtenstein (Hegemony Score: 167)

Pop / Votes Hegemony Rankings:
1. India (Hegemony Score: 0)
2. Indonesia (Hegemony Score: 0)
3. Colombia (Hegemony Score: 0)
4. Poland (Hegemony Score: 1)
5. Sao Tome and Principe (Hegemony Score: 1)
6. South Africa (Hegemony Score: 2)
7. Djibouti (Hegemony Score: 2)
8. Germany (Hegemony Score: 2)
9. Argentina (Hegemony Score: 3)
10. Mauritius (Hegemony Score: 3)
11. Guinea-Bissau (Hegemony Score: 3)
12. Philippines (Hegemony Score: 4)
13. Timor-Leste (Hegemony Score: 4)
14. Virgin Islands (U.S.) (Hegemony Score: 4)
15. French Polynesia (Hegemony Score: 5)
16. Malaysia (Hegemony Score: 6)
17. Italy (Hegemony Score: 6)
18. Bermuda (Hegemony Score: 6)
19. Cuba (Hegemony Score: 8)
20. Cameroon (Hegemony Score: 8)
21. Dominican Republic (Hegemony Score: 8)
22. Seychelles (Hegemony Score: 9)
23. Cabo Verde (Hegemony Score: 9)
24. Isle of Man (Hegemony Score: 9)
25. Guyana (Hegemony Score: 10)
26. Grenada (Hegemony Score: 10)
27. Gabon (Hegemony Score: 10)
28. Belize (Hegemony Score: 11)
29. Paraguay (Hegemony Score: 12)
30. Tunisia (Hegemony Score: 12)
31. Kuwait (Hegemony Score: 12)
32. Qatar (Hegemony Score: 12)
33. Guam (Hegemony Score: 13)
34. Thailand (Hegemony Score: 13)
35. Kazakhstan (Hegemony Score: 14)
36. New Caledonia (Hegemony Score: 15)
37. Honduras (Hegemony Score: 15)
38. Japan (Hegemony Score: 15)
39. Tonga (Hegemony Score: 16)
40. France (Hegemony Score: 16)
41. Aruba (Hegemony Score: 16)
42. Senegal (Hegemony Score: 17)
43. Belarus (Hegemony Score: 17)
44. Romania (Hegemony Score: 17)
45. American Samoa (Hegemony Score: 18)
46. Panama (Hegemony Score: 18)
47. Azerbaijan (Hegemony Score: 19)
48. Peru (Hegemony Score: 20)
49. Spain (Hegemony Score: 20)
50. Mexico (Hegemony Score: 22)
51. Fiji (Hegemony Score: 23)
52. Nepal (Hegemony Score: 24)
53. Sri Lanka (Hegemony Score: 25)
54. El Salvador (Hegemony Score: 25)
55. Oman (Hegemony Score: 25)
56. Trinidad and Tobago (Hegemony Score: 25)
57. Solomon Islands (Hegemony Score: 25)
58. Canada (Hegemony Score: 25)
59. Maldives (Hegemony Score: 26)
60. Eswatini (Hegemony Score: 26)
61. Bahrain (Hegemony Score: 27)
62. Ukraine (Hegemony Score: 27)
63. Mongolia (Hegemony Score: 27)
64. Suriname (Hegemony Score: 28)
65. Brunei Darussalam (Hegemony Score: 29)
66. Guatemala (Hegemony Score: 29)
67. Tajikistan (Hegemony Score: 29)
68. Barbados (Hegemony Score: 29)
69. Dominica (Hegemony Score: 30)
70. Saudi Arabia (Hegemony Score: 31)
71. Brazil (Hegemony Score: 32)
72. Jordan (Hegemony Score: 33)
73. Nicaragua (Hegemony Score: 33)
74. Chile (Hegemony Score: 33)
75. Antigua and Barbuda (Hegemony Score: 35)
76. Cambodia (Hegemony Score: 36)
77. Comoros (Hegemony Score: 37)
78. Marshall Islands (Hegemony Score: 37)
79. Belgium (Hegemony Score: 38)
80. Benin (Hegemony Score: 38)
81. Equatorial Guinea (Hegemony Score: 40)
82. Russian Federation (Hegemony Score: 41)
83. Mauritania (Hegemony Score: 42)
84. Puerto Rico (Hegemony Score: 42)
85. Syrian Arab Republic (Hegemony Score: 42)
86. Turkmenistan (Hegemony Score: 43)
87. Portugal (Hegemony Score: 43)
88. Haiti (Hegemony Score: 44)
89. Bangladesh (Hegemony Score: 45)
90. China (Hegemony Score: 45)
91. Afghanistan (Hegemony Score: 46)
92. Uzbekistan (Hegemony Score: 46)
93. Eritrea (Hegemony Score: 47)
94. Lesotho (Hegemony Score: 47)
95. Burkina Faso (Hegemony Score: 48)
96. Viet Nam (Hegemony Score: 48)
97. Bulgaria (Hegemony Score: 49)
98. Faroe Islands (Hegemony Score: 50)
99. Switzerland (Hegemony Score: 51)
100. Iraq (Hegemony Score: 51)
101. Australia (Hegemony Score: 53)
102. Andorra (Hegemony Score: 53)
103. Lebanon (Hegemony Score: 53)
104. Morocco (Hegemony Score: 53)
105. Chad (Hegemony Score: 53)
106. Botswana (Hegemony Score: 53)
107. Serbia (Hegemony Score: 53)
108. Armenia (Hegemony Score: 54)
109. Czechia (Hegemony Score: 57)
110. Montenegro (Hegemony Score: 58)
111. Hungary (Hegemony Score: 58)
112. Georgia (Hegemony Score: 58)
113. Pakistan (Hegemony Score: 58)
114. Albania (Hegemony Score: 59)
115. Ecuador (Hegemony Score: 60)
116. Austria (Hegemony Score: 60)
117. Monaco (Hegemony Score: 61)
118. Algeria (Hegemony Score: 62)
119. Mali (Hegemony Score: 63)
120. Sierra Leone (Hegemony Score: 63)
121. Cyprus (Hegemony Score: 63)
122. Malta (Hegemony Score: 63)
123. Togo (Hegemony Score: 63)
124. Sweden (Hegemony Score: 66)
125. Bhutan (Hegemony Score: 66)
126. Greece (Hegemony Score: 66)
127. Angola (Hegemony Score: 69)
128. Zambia (Hegemony Score: 70)
129. Liberia (Hegemony Score: 71)
130. Costa Rica (Hegemony Score: 72)
131. North Macedonia (Hegemony Score: 72)
132. Lithuania (Hegemony Score: 74)
133. San Marino (Hegemony Score: 74)
134. Bosnia and Herzegovina (Hegemony Score: 74)
135. Zimbabwe (Hegemony Score: 75)
136. Uruguay (Hegemony Score: 76)
137. Norway (Hegemony Score: 76)
138. Myanmar (Hegemony Score: 76)
139. Ghana (Hegemony Score: 76)
140. Papua New Guinea (Hegemony Score: 78)
141. Jamaica (Hegemony Score: 78)
142. Kenya (Hegemony Score: 78)
143. Rwanda (Hegemony Score: 79)
144. Gibraltar (Hegemony Score: 80)
145. Latvia (Hegemony Score: 80)
146. Slovenia (Hegemony Score: 80)
147. Greenland (Hegemony Score: 81)
148. Nigeria (Hegemony Score: 82)
149. United Arab Emirates (Hegemony Score: 82)
150. Niger (Hegemony Score: 83)
151. Croatia (Hegemony Score: 85)
152. Israel (Hegemony Score: 86)
153. Denmark (Hegemony Score: 90)
154. Mozambique (Hegemony Score: 93)
155. Libya (Hegemony Score: 93)
156. Finland (Hegemony Score: 96)
157. Singapore (Hegemony Score: 96)
158. Malawi (Hegemony Score: 96)
159. Guinea (Hegemony Score: 97)
160. New Zealand (Hegemony Score: 97)
161. Uganda (Hegemony Score: 101)
162. Ireland (Hegemony Score: 105)
163. Somalia (Hegemony Score: 109)
164. Luxembourg (Hegemony Score: 110)
165. Burundi (Hegemony Score: 111)
166. Ethiopia (Hegemony Score: 113)
167. Sudan (Hegemony Score: 114)
168. Estonia (Hegemony Score: 120)
169. Liechtenstein (Hegemony Score: 128)
170. Madagascar (Hegemony Score: 130)
171. Iceland (Hegemony Score: 139)

Gdp_pop / Wgt_score Hegemony Rankings:
1. Japan (Hegemony Score: 0)
2. Bulgaria (Hegemony Score: 0)
3. Guinea (Hegemony Score: 0)
4. Italy (Hegemony Score: 1)
5. Mongolia (Hegemony Score: 1)
6. Sri Lanka (Hegemony Score: 1)
7. Israel (Hegemony Score: 1)
8. Romania (Hegemony Score: 2)
9. France (Hegemony Score: 2)
10. Bermuda (Hegemony Score: 2)
11. Madagascar (Hegemony Score: 2)
12. Hungary (Hegemony Score: 3)
13. Burundi (Hegemony Score: 3)
14. Somalia (Hegemony Score: 3)
15. Finland (Hegemony Score: 3)
16. Denmark (Hegemony Score: 3)
17. Albania (Hegemony Score: 4)
18. Algeria (Hegemony Score: 4)
19. Eritrea (Hegemony Score: 4)
20. Sierra Leone (Hegemony Score: 5)
21. Georgia (Hegemony Score: 6)
22. Liberia (Hegemony Score: 6)
23. Nicaragua (Hegemony Score: 6)
24. Iceland (Hegemony Score: 6)
25. American Samoa (Hegemony Score: 6)
26. Sudan (Hegemony Score: 7)
27. Rwanda (Hegemony Score: 7)
28. Uruguay (Hegemony Score: 8)
29. Zimbabwe (Hegemony Score: 8)
30. Germany (Hegemony Score: 8)
31. Jordan (Hegemony Score: 9)
32. Portugal (Hegemony Score: 10)
33. Poland (Hegemony Score: 10)
34. United Arab Emirates (Hegemony Score: 10)
35. Armenia (Hegemony Score: 11)
36. Ghana (Hegemony Score: 11)
37. Guam (Hegemony Score: 12)
38. Lesotho (Hegemony Score: 13)
39. Spain (Hegemony Score: 13)
40. Djibouti (Hegemony Score: 13)
41. Mauritania (Hegemony Score: 14)
42. Croatia (Hegemony Score: 14)
43. Mexico (Hegemony Score: 14)
44. Ireland (Hegemony Score: 15)
45. North Macedonia (Hegemony Score: 15)
46. Aruba (Hegemony Score: 16)
47. Serbia (Hegemony Score: 16)
48. Malawi (Hegemony Score: 16)
49. New Zealand (Hegemony Score: 18)
50. Haiti (Hegemony Score: 18)
51. Timor-Leste (Hegemony Score: 19)
52. Guatemala (Hegemony Score: 20)
53. Russian Federation (Hegemony Score: 20)
54. Austria (Hegemony Score: 21)
55. New Caledonia (Hegemony Score: 21)
56. Virgin Islands (U.S.) (Hegemony Score: 22)
57. Suriname (Hegemony Score: 23)
58. Argentina (Hegemony Score: 23)
59. Sweden (Hegemony Score: 23)
60. Greece (Hegemony Score: 23)
61. Belarus (Hegemony Score: 23)
62. Saudi Arabia (Hegemony Score: 24)
63. Singapore (Hegemony Score: 24)
64. Canada (Hegemony Score: 25)
65. Tunisia (Hegemony Score: 25)
66. Azerbaijan (Hegemony Score: 25)
67. Togo (Hegemony Score: 26)
68. Lithuania (Hegemony Score: 29)
69. Brazil (Hegemony Score: 30)
70. Uganda (Hegemony Score: 30)
71. Ethiopia (Hegemony Score: 30)
72. Isle of Man (Hegemony Score: 30)
73. Kazakhstan (Hegemony Score: 31)
74. Czechia (Hegemony Score: 31)
75. Guinea-Bissau (Hegemony Score: 32)
76. Dominican Republic (Hegemony Score: 33)
77. Morocco (Hegemony Score: 33)
78. Paraguay (Hegemony Score: 34)
79. Norway (Hegemony Score: 34)
80. Niger (Hegemony Score: 34)
81. Switzerland (Hegemony Score: 34)
82. Iraq (Hegemony Score: 34)
83. Luxembourg (Hegemony Score: 34)
84. Bosnia and Herzegovina (Hegemony Score: 35)
85. Angola (Hegemony Score: 35)
86. Peru (Hegemony Score: 35)
87. Montenegro (Hegemony Score: 36)
88. Estonia (Hegemony Score: 36)
89. Mozambique (Hegemony Score: 36)
90. Australia (Hegemony Score: 37)
91. Sao Tome and Principe (Hegemony Score: 38)
92. French Polynesia (Hegemony Score: 38)
93. Slovenia (Hegemony Score: 38)
94. Comoros (Hegemony Score: 39)
95. Viet Nam (Hegemony Score: 39)
96. China (Hegemony Score: 41)
97. Mali (Hegemony Score: 42)
98. Latvia (Hegemony Score: 42)
99. El Salvador (Hegemony Score: 42)
100. Papua New Guinea (Hegemony Score: 44)
101. Belgium (Hegemony Score: 44)
102. Ukraine (Hegemony Score: 44)
103. Tajikistan (Hegemony Score: 45)
104. San Marino (Hegemony Score: 45)
105. Costa Rica (Hegemony Score: 45)
106. Malaysia (Hegemony Score: 46)
107. Chile (Hegemony Score: 46)
108. Cyprus (Hegemony Score: 46)
109. Cambodia (Hegemony Score: 47)
110. Faroe Islands (Hegemony Score: 47)
111. Cabo Verde (Hegemony Score: 48)
112. Solomon Islands (Hegemony Score: 51)
113. Jamaica (Hegemony Score: 53)
114. Thailand (Hegemony Score: 55)
115. Tonga (Hegemony Score: 56)
116. Honduras (Hegemony Score: 56)
117. Zambia (Hegemony Score: 59)
118. South Africa (Hegemony Score: 60)
119. Qatar (Hegemony Score: 60)
120. Panama (Hegemony Score: 60)
121. Dominica (Hegemony Score: 62)
122. Burkina Faso (Hegemony Score: 62)
123. Uzbekistan (Hegemony Score: 64)
124. Nigeria (Hegemony Score: 64)
125. Gabon (Hegemony Score: 68)
126. Kenya (Hegemony Score: 68)
127. Eswatini (Hegemony Score: 68)
128. Belize (Hegemony Score: 69)
129. Myanmar (Hegemony Score: 70)
130. Monaco (Hegemony Score: 71)
131. Benin (Hegemony Score: 72)
132. Senegal (Hegemony Score: 72)
133. Greenland (Hegemony Score: 73)
134. Turkmenistan (Hegemony Score: 76)
135. Ecuador (Hegemony Score: 76)
136. Lebanon (Hegemony Score: 78)
137. Chad (Hegemony Score: 79)
138. Trinidad and Tobago (Hegemony Score: 81)
139. Marshall Islands (Hegemony Score: 81)
140. Fiji (Hegemony Score: 84)
141. Colombia (Hegemony Score: 89)
142. Malta (Hegemony Score: 90)
143. Gibraltar (Hegemony Score: 91)
144. Cuba (Hegemony Score: 93)
145. Brunei Darussalam (Hegemony Score: 93)
146. Kuwait (Hegemony Score: 94)
147. Pakistan (Hegemony Score: 95)
148. Mauritius (Hegemony Score: 96)
149. Nepal (Hegemony Score: 96)
150. Maldives (Hegemony Score: 97)
151. Syrian Arab Republic (Hegemony Score: 97)
152. Andorra (Hegemony Score: 98)
153. Puerto Rico (Hegemony Score: 99)
154. Botswana (Hegemony Score: 100)
155. Equatorial Guinea (Hegemony Score: 100)
156. Grenada (Hegemony Score: 100)
157. Bahrain (Hegemony Score: 102)
158. Libya (Hegemony Score: 102)
159. Philippines (Hegemony Score: 102)
160. Indonesia (Hegemony Score: 103)
161. Bangladesh (Hegemony Score: 105)
162. Oman (Hegemony Score: 105)
163. Bhutan (Hegemony Score: 110)
164. Afghanistan (Hegemony Score: 110)
165. Guyana (Hegemony Score: 110)
166. Antigua and Barbuda (Hegemony Score: 119)
167. Barbados (Hegemony Score: 126)
168. India (Hegemony Score: 127)
169. Liechtenstein (Hegemony Score: 139)
170. Seychelles (Hegemony Score: 139)
171. Cameroon (Hegemony Score: 150)

# Task 3 - Focus on Directors

In [19]:
data_dir = 'data_imdb'

crew = clean_data(load_data(os.path.join(data_dir, 'title.crew.tsv')))
names = clean_data(load_data(os.path.join(data_dir, 'name.basics.tsv')))

Loading data from: data_imdb\title.crew.tsv ...
Loading data from: data_imdb\name.basics.tsv ...

In [20]:
movies_directors_df = prepare_movies_directors(crew, names, movies_df)
movies_directors_df

,tconst,directors,writers,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles,titleType,...,ordering,title,region,language,types,attributes,isOriginalTitle,titleId_y,country,composite_score
0,tt0111161,nm0001104,"nm0000175,nm0001104",nm0001104,Frank Darabont,1959,<NA>,"writer,producer,director","tt0120689,tt0111161,tt0884328,tt1520211",movie,...,1,The Shawshank Redemption,<NA>,<NA>,original,<NA>,1,tt0111161,IS,871760.31
1,tt0468569,nm0634240,"nm0634300,nm0634240,nm0275286,nm0004170",nm0634240,Christopher Nolan,1970,<NA>,"writer,producer,director","tt6723592,tt0816692,tt1375666,tt0482571",movie,...,1,The Dark Knight,<NA>,<NA>,original,<NA>,1,tt0468569,ID,866137.50
2,tt1375666,nm0634240,nm0634240,nm0634240,Christopher Nolan,1970,<NA>,"writer,producer,director","tt6723592,tt0816692,tt1375666,tt0482571",movie,...,1,Inception,<NA>,<NA>,original,<NA>,1,tt1375666,GB,769596.16
3,tt0137523,nm0000399,"nm0657333,nm0880243",nm0000399,David Fincher,1962,<NA>,"producer,director,writer","tt0114369,tt2267998,tt0443706,tt1285016",movie,...,1,Fight Club,<NA>,<NA>,original,<NA>,1,tt0137523,FI,701755.36
4,tt0109830,nm0000709,"nm0343165,nm0744839",nm0000709,Robert Zemeckis,1952,<NA>,"producer,writer,director","tt0088763,tt0109830,tt0118884,tt1907668",movie,...,1,Forrest Gump,<NA>,<NA>,original,<NA>,1,tt0109830,DK,681472.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310807,tt31156932,nm15794661,nm15794661,nm15794661,Mohammad Hossein Haghighat,<NA>,<NA>,"director,writer",tt31156932,movie,...,1,Parvaze 175,<NA>,<NA>,original,<NA>,1,tt31156932,IR,2.50
310808,tt30798708,nm15690913,nm15690913,nm15690913,Mohammad Mehdi Choopani,<NA>,<NA>,"director,writer",tt30798708,movie,...,1,Arezoohayat Ra Be Khak Naspar,<NA>,<NA>,original,<NA>,1,tt30798708,IR,2.20
310809,tt27833215,nm14534816,nm14534816,nm14534816,Rein Alpajora,2009,<NA>,"actor,writer,editorial_department","tt26629920,tt26660659,tt31797757,tt27997441",movie,...,1,The Doll: Creation,<NA>,<NA>,original,<NA>,1,tt27833215,PH,2.20
310810,tt30625407,nm14782664,<NA>,nm14782664,Seyyed Amin Kazemzadeh,<NA>,<NA>,"director,actor","tt30625407,tt32167147,tt27580522",movie,...,1,Borde Sagi,<NA>,<NA>,original,<NA>,1,tt30625407,IR,2.20
310811,tt31251426,nm2308800,nm2308800,nm2308800,Ensie Shah Hosseini,<NA>,<NA>,"writer,director,art_department","tt2117958,tt31160247,tt31251426,tt27911272",movie,...,1,Daste Na Peyda,<NA>,<NA>,original,<NA>,1,tt31251426,IR,2.20

In [35]:
rank_directors(movies_directors_df, 'primaryName', 'composite_score', 'mean')

                       primaryName  aggregated_score  total_movies      rank
0                Christopher Nolan     407315.641667            12       1.0
1                   Frank Darabont     354156.782500             4       2.0
2                    John Lasseter     322166.810000             1       3.0
3                Quentin Tarantino     271842.562500            12       4.0
4                      Lee Unkrich     268908.110000             1       5.0
...                            ...               ...           ...       ...
104506  Mohammad Hossein Haghighat          2.500000             1  104507.0
104507       Abdolreza Nematollahi          2.500000             1  104507.0
104508     Mohammad Mehdi Choopani          2.200000             1  104509.0
104509               Rein Alpajora          2.200000             1  104509.0
104510      Seyyed Amin Kazemzadeh          2.200000             1  104509.0

[104511 rows x 4 columns]

In [36]:
rank_directors(movies_directors_df, 'primaryName', 'composite_score', 'sum')

                       primaryName  aggregated_score  total_movies      rank
0                Christopher Nolan        4887787.70            12       1.0
1                 Steven Spielberg        4371850.41            34       2.0
2                Quentin Tarantino        3262110.75            12       3.0
3                  Martin Scorsese        3193269.69            36       4.0
4                    David Fincher        2731575.10            12       5.0
...                            ...               ...           ...       ...
104506       Abdolreza Nematollahi              2.50             1  104507.0
104507  Mohammad Hossein Haghighat              2.50             1  104507.0
104508     Mohammad Mehdi Choopani              2.20             1  104509.0
104509      Seyyed Amin Kazemzadeh              2.20             1  104509.0
104510               Rein Alpajora              2.20             1  104509.0

[104511 rows x 4 columns]

In [59]:
custom_ranking(movies_directors_df, 'primaryName', 'composite_score', good_threshold=7.0, bad_threshold=3.0)

                      primaryName  custom_score  total_movies      rank
0               Christopher Nolan     63.525089            12       1.0
1                  Frank Darabont     20.122436             4       2.0
2               Quentin Tarantino     18.051022            12       3.0
3                   David Fincher      9.358073            12       4.0
4                   John Lasseter      1.391147             1       5.0
...                           ...           ...           ...       ...
104506  Gilberto Martínez Solares   -419.969170           140  104507.0
104507           William Beaudine   -422.856006           141  104508.0
104508             Michael Curtiz   -461.841225           155  104509.0
104509               Jesús Franco   -464.695353           155  104510.0
104510               Sam Newfield   -596.884347           199  104511.0

[104511 rows x 4 columns]